<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>Example Web App</title>
    <link rel="stylesheet" href="/static/styles/tachyons.min.css" />
    <link rel="stylesheet" href="/static/styles/styles.css" />

    <script type="module">
        import {
            reloadPolicy,
            ready,
            validateForm,
        } from '/static/scripts/script.js';

        ready(() => {
            document.getElementById("reload-button").addEventListener("click", reloadPolicy);
            document.getElementById("ticket-form").addEventListener("submit", validateForm);
        });
    </script>
</head>
<body class="pa3">

<form id="ticket-form">
    <div class="mb2">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email">
        <p class="mt0 red f6 error-message error-message-email"></p>
    </div>

    <div class="mb2">
        <label for="departure_station">From:</label>
        <select id="departure_station" name="departure_station">
            <option value="none" selected></option>
            <option value="amsterdam">Amsterdam</option>
            <option value="paris">Paris</option>
            <option value="tokyo">Tokyo</option>
            <option value="osaka">Osaka</option>
        </select>
    </div>

    <div class="mb2">
        <label for="destination_station">To:</label>
        <select id="destination_station" name="destination_station">
            <option value="none" selected></option>
            <option value="amsterdam">Amsterdam</option>
            <option value="paris">Paris</option>
            <option value="tokyo">Tokyo</option>
            <option value="osaka">Osaka</option>
        </select>
    </div>
    <p class="mt0 red f6 error-message error-message-route"></p>

    <div class="mb2">
        <label for="passenger_count">Passengers:</label><br>
        <input type="number" id="passenger_count" name="passenger_count" value="0"><br>
        <p class="mt0 red f6 error-message error-message-passenger_count"></p>
    </div>

    <div class="mb2">
        <p class="mb0">Seat:</p>
        <div class="ba w5">
            <div class="flex w5">
                <div class="w-50 flex justify-between">
                    <div class="pt2">
                        <div class="ph2">
                            <input type="checkbox" id="seat1" name="seat" value="seat1">
                            <label class="seat-label seat-label-left" for="seat1"></label>
                        </div>
                        <div class="ph2">
                            <input type="checkbox" id="seat2" name="seat" value="seat2">
                            <label class="seat-label seat-label-left" for="seat2"></label>
                        </div>
                    </div>
                    <div class="pt2">
                        <div class="ph2">
                            <input type="checkbox" id="seat3" name="seat" value="seat3">
                            <label class="seat-label seat-label-right" for="seat3"></label>
                        </div>
                        <div class="ph2">
                            <input type="checkbox" id="seat4" name="seat" value="seat4">
                            <label class="seat-label seat-label-right" for="seat4"></label>
                        </div>
                    </div>
                </div>
                <div class="w-50 flex justify-between">
                    <div class="pt2">
                        <div class="ph2">
                            <input type="checkbox" id="seat7" name="seat" value="seat7">
                            <label class="seat-label seat-label-left" for="seat7"></label>
                        </div>
                        <div class="ph2">
                            <input type="checkbox" id="seat8" name="seat" value="seat8">
                            <label class="seat-label seat-label-left" for="seat8"></label>
                        </div>
                    </div>
                    <div class="pt2">
                        <div class="ph2">
                            <input type="checkbox" id="seat9" name="seat" value="seat9">
                            <label class="seat-label seat-label-right" for="seat9"></label>
                        </div>
                        <div class="ph2">
                            <input type="checkbox" id="seat10" name="seat" value="seat10">
                            <label class="seat-label seat-label-right" for="seat10"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 bg-light-gray h2 bt bb b--silver"> </div>
            <div class="flex flex-wrap justify-between w5">
                <div class="flex flex-wrap justify-between w-50 pt2">
                    <div class="ph2">
                        <input type="checkbox" id="seat5" name="seat" value="seat5">
                        <label class="seat-label seat-label-left" for="seat5"></label>
                    </div>
                    <div class="ph2">
                        <input type="checkbox" id="seat6" name="seat" value="seat6">
                        <label class="seat-label seat-label-right" for="seat6"></label>
                    </div>
                </div>
                <div class="flex flex-wrap justify-between w-50 pt2">
                    <div class="ph2">
                        <input type="checkbox" id="seat11" name="seat" value="seat11">
                        <label class="seat-label seat-label-left" for="seat11"></label>
                    </div>
                    <div class="ph2">
                        <input type="checkbox" id="seat12" name="seat" value="seat12">
                        <label class="seat-label seat-label-right" for="seat12"></label>
                    </div>
                </div>
            </div>
        </div>
        <p class="mt0 red f6 error-message error-message-seat"></p>
    </div>

    <div class="mb2">
        <input type="submit" value="Book Tickets">
    </div>
    <p id="result"></p>
</form>

<div class="mt3">
    <button id="reload-button">Reload Policy</button>
    <span id="policy-loaded-at"></span>
</div>


</body>
</html>