<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <title>Demo Config Service</title>
</head>
<body class="pa3">

<h1>Demo Configurator</h1>

<a href="/config">Back</a>

<h2>{{ .Key }}</h2>

<hr>
<details class="pt3">
    <summary> Edit </summary>
    <div>
        <form method="POST" action="/config/{{ .Key }}">
            <textarea name="value" rows="25" class="w-100">{{ .Current }}</textarea>
            <input type="submit" value="Update">
        </form>
    </div>
</details>
<hr>

{{ .CurrentHTML }}

<hr>

{{ range $i, $n := .Notes }}
<details class="pt3">
    <summary>{{ $i }}: {{ $n.Title }}</summary>
    <div>
{{ $n.HTML }}
    </div>
</details>
{{ end }}



</body>

</html>